<%= form_for(@article, html: {multipart: true}) do |f| %>
  <% @article.errors.full_messages.each do |error| %>
  <ul>
    <li><%= error %></li>
  </ul>
  <% end %>
  <div class="form-group">

  
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control" %>
  
  </div>
  <div class="form-group">
  
    <%= f.label :body %><br />
    <%= f.text_area :body, class: "form-control" %>
  </div>
  
  <div class="form-group">
  
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>
  
  <div class="form-group">
  
    <% if @article.image.exists? %>
        <%= image_tag(@article.image.url(:thumb)) %><br/>
    <% end %>
    <%= f.label :image, "Attach an Image" %><br />
    <%= f.file_field :image, {style: "border:1px solid gray"} %>
  </div>


  
  <div class="form-group btn btn-primary">
  
    <%= f.submit %>
  </div>
  
  
<% end %>
