<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Connexpat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="flash"><%= flash.notice %></p>
  <%= render partial: 'layouts/navbar' %>

  <div class="container">
  <div class="row">
      <%= yield %>
    <%# <div class="col-sm-8">

    </div> %>
    <div class="col-sm-4">
      <%= link_to "Create a New Article", new_article_path, class: "new_article" %>

    </div>
  </div>
      <footer>
        <hr>
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
      </footer>
  </div>
  </body>
</html>
